<h3 ng-bind="categoryItemCtrl.title"></h3>

<form name="categoryForm" novalidate ng-submit="categoryItemCtrl.save()">
    <section>
        <p>Select all tabs you want group:</p>

        <input required name="name" type="text" class="form-control" ng-model="category.name" placeholder="Enter a name..." />

        <hr/>
    </section>

    <section ng-if="category.tabs.length > 0">
        <p>Current tabs added:</p>
        <ul ng-repeat="tab in category.tabs" class="list-unstyled">
            <li>
                <span ng-bind="tab.title"></span>
                <a href="#" ng-click="categoryItemCtrl.deleteTab(tab.id)">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </li>
        </ul>
        <hr/>
    </section>


    <section>
        <p>Select current tabs you want to add:</p>
        <div class="checkbox" ng-repeat="tab in openTabs">
            <label>
                <input type="checkbox" ng-model="tab.checked" />
                <span title="{{ tab.url }}" ng-bind="tab.title"></span>
            </label>
        </div>

        <button ng-disabled="categoryForm.$invalid" type="submit" class="btn btn-primary">Save</button>
    </section>
</form>